body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border: 1px solid #0F292F;
  border-right: 1px solid transparent;
	background-color: #F5F5F5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgba(20,160,152,0.4);
  min-height: 50px;
}